<section>

  <!--  <article>-->
  <!--    <h1> # 2nd project - Data Binding #</h1>-->
  <!--    <h3>Interpolation</h3>-->
  <!--    <p>String renderizada com interpolation: {{ url }}</p>-->
  <!--    <p> Resultado de 1 + 1 é = {{1 + 1}}</p>-->
  <!--    <p> Resultado de 1 + 1 não é = {{1 + 1 + getValor()}}</p>-->
  <!--    <p>Estudo angular e gosto do curso = {{ cursoAngular && getCurtirCurso() }}</p>-->
  <!--  </article>-->

  <!--  <article>-->
  <!--    <h2>Property Binding</h2>-->

  <!--     1st example of the use-->
  <!--        <img src="{{ urlImage }}">-->

  <!--     2nd example of the use + used-->
  <!--        <img [src]="urlImage">-->

  <!--  </article>-->

  <!--  <article>-->
  <!--    <h2>Class and Style Binding</h2>-->


  <!--    <div>-->
  <!--      Selecione uma Classe:-->

  <!--      <select #alertClass (change)="0">-->
  <!--        <option value="alert-success">Success</option>-->
  <!--        <option value="alert-info">Info</option>-->
  <!--        <option value="alert-warning">Alert</option>-->
  <!--        <option value="alert-danger">Danger</option>-->
  <!--      </select>-->
  <!--    </div>-->
  <!--    <br><br>-->

  <!--    <h3>Option 1 - chance color</h3>-->

  <!--    <div [class.alert-success]="alertClass.value === 'alert-success' " class="alert">-->
  <!--      <strong>Well done!</strong> You successfully read this important alert message.-->
  <!--    </div>-->

  <!--    <div [class.alert-info]="alertClass.value === 'alert-info' " class="alert">-->
  <!--      <strong>Heads up!</strong> This alert needs your attention, but it's not super important.-->
  <!--    </div>-->

  <!--    <div [class.alert-warning]="alertClass.value === 'alert-warning' " class="alert">-->
  <!--      <strong>Warning!</strong> Better check yourself, you're not looking too good.-->
  <!--    </div>-->

  <!--    <div [class.alert-danger]="alertClass.value === 'alert-danger' " class="alert">-->
  <!--      <strong>Oh snap!</strong> Change a few things up and-->
  <!--      try-->
  <!--      submitting again.-->
  <!--    </div>-->

  <!--    <h3>Option 2 - Show only the alert selected</h3>-->
  <!--    <div class="alert {{alertClass.value}}">-->
  <!--      Text-->
  <!--    </div>-->

  <!--    <h3>Option 3 - Danger Showing when selected</h3>-->

  <!--    <div [style.display]="alertClass.value === 'alert-danger' ? 'block' : 'none' " class="alert alert-danger">-->
  <!--      <strong>Oh snap!</strong> Change a few things up and-->
  <!--      try-->
  <!--      submitting again.-->
  <!--    </div>-->


  <!--  </article>-->

  <article>
    <h2>Event Binding</h2>
    <button (click)="clickedButton()" class="btn btn-primary mb-3">
      Click me
    </button>

    <br>

    <input
      #inputField
      (blur)="onSaveValue(inputField.value)"
      (keyup)="onKeyUp($event)"
      (keyup.enter)="onSaveValue(inputField.value)"
      type="text"
    />

    <p> Actual Value: {{ nowValue }}</p>
    <p> Saved Value: {{ savedValue }}</p>

    <br>

    <span
      (mouseout)="onMouseOverOut()"
      (mouseover)="onMouseOverOut()"
      [class.highlight]="isMouseOver"
      class="text-light text">Passe o mouse sobre mim
    </span>


  </article>


</section>
